[Desktop Entry]
Name=realraw
Comment=An open source Lightroom alternative
Exec=realraw
Icon=realraw
Terminal=false
Type=Application
Categories=Graphics;Photography;
